@using KisiselWebProjesi.Models.Siniflar
@model List<Anasayfa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Anasayfa</h2>
<table class="table table-bordered mt-3">
    <tr>
        <th>Id</th>
        <th>İsim</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.isim</td>
            <td><a href="/Admin/AnasayfaGetir/@x.id" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }

</table>

